
.qa
{
    margin-top: 12px;
    background-color: rgb(28, 28, 28) ;
    color:white;
    padding:10px;
    h1{
        font-size: 3rem;
        font-weight: lighter;
    }
}
.group
{
    h2{
        font-size: 2rem;
        font-weight: lighter;
        margin-bottom: 8px;
    }
    p{
        font-size: 1.4rem;
        color:#90ae1f;
        font-weight: bold;
        margin-top: 4px;
    }
}